<h1 class="title">メッセージ一覧</h1>
<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">

<div class="wrap">
  <table class="table table-hover">
    <tbody>
      <% @conversations.each do |conversation| %>
        <td>
          <% if conversation.target_user(current_user).present? %>
            <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>

</div>
</div>
</div>
